$primary-light-theme: #FAFDFE;
$primary-dark-theme: #0B161A;

$secondary-light-theme: #F2FAFB;
$secondary-dark-theme: #101B20;

$tertiary-light-theme: #DEF7F9;
$tertiary-light-theme_hover: #CAF1F6;
$tertiary-dark-theme: #082C36;

$solid-light-theme: #00A2C7;
$solid-light-theme_hover: #0797B9;

$separation-light-theme: #9DDDE7;
$separation-dark-theme: #045468;

$low-contrast-text-light-theme: #107D98;
$high-contrast-text-light-theme: #0D3C48;

$white: #FEFEFE;