@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-2rem {
    display: flex;
    gap: 2rem;
}

@mixin flex-1rem {
    display: flex;
    gap: 1rem;
}

@mixin flex-half-rem {
    display: flex;
    gap: 0.5rem;
}